@model RosyMovieShop.Models.Db.Customer
@using RosyMovieShop.Helper;

@{
	ViewData["Title"] = "Customer Detail";
	@UserRole.URole
	;
	Layout = "~/Views/Shared/_AdminLayout.cshtml";


}
<div class="glass">
	<div class="row">
		<div class="col-6"><h5> @Model.FristName  Detail</h5> </div>
		<div class="col-6">
			<p>
				<a asp-action="Index">Go Back</a>
			</p>
		</div>
	</div>

</div>

<div class="container">
	<div class="row glass2">
		<div class="col-sm-8">

			@Html.Partial("_CustomerDetailPartial")
		</div>
	</div>
</div>

