@model RosyMovieShop.Models.Db.Movie
@using RosyMovieShop.Helper


@{
	ViewData["Title"] = "Delete Movie";
	// UserRole.URole = Role.Admin;
	Layout = "~/Views/Shared/_AdminLayout.cshtml";

}

<div class="d-flex justify-content-center align-items-center mt-5 mb-5">
	<div class="card border-3 border-danger h-100" style="border-radius:7px; width: 40rem;">
		<div class="card-header bg-dark text-white text-center">
			<h3 class="card-title">Delete Movie</h3>
		</div>
		<div class="card-body h-100 m-auto">

			@Html.Partial("_MovieCardPartial")



			<div class=" card card-footer alert alert-warning mt-3" role="alert">
				<strong>Warning:</strong> This action cannot be undone.
			</div>


			<form asp-action="DeleteMovieConfirmed" method="post">
				<input type="hidden" asp-for="Id" />
				<button type="submit" class="btn btn-danger mr-2">Delete</button>
				<a asp-action="Index" class="btn btn-secondary">Cancel</a>
			</form>
			<br /><br />
		</div>
	</div>

</div>
