@model RosyMovieShop.Models.Db.Customer

@{
	ViewData["Title"] = "Registration";
	Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<div class="container-fluid">
	<div class="glass">
		<h1 class="customer-reg">Customer Registration</h1>

	</div>
	<div class="container">

		@await Html.PartialAsync("_CustomerRegisterPartial")
	</div>
</div>
